.icon-and-tooltip{
    position: relative;
    cursor: pointer;
    text-align: center;
}
.icon-and-tooltip i{
    line-height: 24px;
    font-size: 16px;
    z-index: 10;
}

.icon-and-tooltip .icon{
    width: 18px;
    line-height: 27px;
}

.icon-and-tooltip .icon:hover+.tooltip{
    display: block;
    opacity: 1;
}