#popup--unit{
    width: 35%;
}

#popup__content--unit{
    display: flex;
    flex-direction: column;
}

#popup__content--unit textarea{
    height: 50px;
    flex: 1;
    outline: none;
    border: solid 1px #cccccc;
    padding: 8px;
    box-sizing: border-box;
}

#popup__content--unit textarea:focus{
    border: solid 1px #0072bc;
}
