/* Header */
.header{
    position: absolute;
    top: 0px;
    height: 55px;
    width: 100%;
    background-color: #0072bc;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* Header left */
.header__left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 230px;
}
.header__left .header__icon{
    color: #ffffff;
    cursor: pointer;
    margin-left: 16px;
    font-size: 18px;
}
.header__left .header__title{
    color: #ffffff;
    font-family: MISA Font bold;
    font-size: 28px;
    cursor: pointer;
    margin-left: 8px;
}
/* Header middle */
.header__middle{
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding-left: 8px;
    margin-right: 24px;
}

.header__middle .dropdown__content{
    background-color: #005082;
    color: #ffffff;
    height: 32px;
    border: none;
    background-image: url(@/assets/icons/arrow-down2.svg);
}

.header__middle .dropdown__content:focus{
    border: none;
}

.header__middle .dropdown__option{
    top: 32px;
    cursor: pointer;
}
/* Header right */
.header__right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}

.operation i{
    color: #ffffff;
    font-size: 22px!important;
}

.operation .operation--notification{
    margin-right: 24px;
}

.user{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 16px;
    margin-left: 8px;
}
.profile__image{
    width: 32px;
    height: 32px;
    border-radius: 100%;
}

.profile__name{
    padding: 0px 5px;
    font-size: 13px;
    color: #ffffff;
    width: 120px;
}

.profile__choice{
    color: #ffffff;
}